<h1>Nieuw product</h1>
Naam: <input type=text [(ngModel)]=naam>
<br>
Prijs: <input type=text [(ngModel)]=prijs>
<br>
<input type="button" value="maak nieuw product" (click)="maakProductAan()" />

<input type="button" value="knop" (click)="getProducts()" />

<div *ngIf="product">
    <div *ngFor="let product of producten">Hier is een {{product.naam}} voor €{{product.prijs}}</div>
</div>

<div *ngFor="let product of producten">Hier is een {{product.naam}} voor €{{product.prijs}}</div>





















<div class="space"></div>
<style>
    .space {
        margin-bottom: 150px;
    }
</style>