<the-navbar></the-navbar>
<het-product></het-product> <!-- selector -->
<the-footer></the-footer>














<!-- <hr>
hallo{{title}}

<h1>TEST</h1>

voornaam : {{voornaam}}
<br>
achternaam : {{achternaam}}
<br>
{{nogEen}}

<br><br>

Voornaam: <input type=text [(ngModel)]=voornaam>

<input type="button" value="klik" (click)="jojo()" />
<div>
    <input type="text" value="{{leeftijd}}" />
</div>
<input type="button" value="leeftijd" (click)="getLeeftijd(50)" />
<br>
<input type="text" (change)="veranderAchternaam($event)"> -->